---
import AsideSection from "../components/AsideSection.astro";
import Avatar from "../components/Avatar.astro";
import BasicInfo from "../components/BasicInfo.astro";
import CustomSection from "../components/CustomSection.astro";
import TimeLineContainer from "../components/TimeLine/TimeLineContainer.astro";
import TimeLineItem from "../components/TimeLine/TimeLineItem.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CV">
  <section>
    .
    <Avatar />
  </section>
  <section class="my-8 flex h-full">
    <aside class="w-1/3 p-8">
      <div class="p-4">
        <AsideSection title="Contactame">
          <BasicInfo icon=" " info="+57 3197089652" />

          <BasicInfo icon="󰇮 ">
            <a
              class="ml-2 text-base break-words underline text-blue-500"
              href="mailto: daniel.mercado.dev@gmail.com"
              target="_blank">daniel.mercado.dev@gmail.com</a
            >
          </BasicInfo>

          <BasicInfo icon=" ">
            <a
              class="ml-2 text-base underline text-blue-500"
              href="https://github.com/damet24"
              target="_blank">GitHub</a
            >
          </BasicInfo>

          <BasicInfo icon=" ">
            <a
              class="ml-2 text-base underline text-blue-500"
              href="https://www.linkedin.com/in/damet24/"
              target="_blank">Linkedin</a
            >
          </BasicInfo>
        </AsideSection>

        <AsideSection title="Soft Skills">
          <ul class="list-disc list-inside">
            <li>Trabajo en equipo</li>
            <li>Creatividad</li>
            <li>Adaptabilidad</li>
            <li>Agilidad de aprendizaje</li>
            <li>Recursividad</li>
          </ul>
        </AsideSection>

        <AsideSection title="Skills">
          <ul class="list-disc list-inside columns-2">
            <li>C#</li>
            <li>TypeScript</li>
            <li>Node.js</li>
            <li>Sql</li>
            <li>Git</li>
            <li>Bash</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>React.js</li>
            <li>AWS</li>
            <li>JavaScript</li>
            <li>PHP</li>
            <li>Docker</li>
            <li>Express.js</li>
            <li>Next.js</li>
            <li>Laravel</li>
            <li>MySql</li>
          </ul>
        </AsideSection>

        <AsideSection title="Hobbies">
          <ul class="list-disc list-inside">
            <li>Produccion musical</li>
            <li>Videojuegos</li>
            <li>Seguridad Informatica</li>
            <li>Ajedrez</li>
          </ul>
        </AsideSection>
      </div>
    </aside>
    <main class="p-4 w-2/3">
      <CustomSection>
        <p class="text-lg font-normal">
          Soy un desarrollador de software con un enfoque predominante en el
          backend. Priorizo el código limpio, las mejores prácticas y la Clean
          Architecture. Poseo amplia experiencia en Material Design y desarrollo
          responsive, garantizando aplicaciones eficientes y de alta calidad.
        </p>
      </CustomSection>

      <CustomSection>
        <TimeLineContainer title="Experiencia Laboral" icon="󰃖 ">
          <TimeLineContainer>
            <TimeLineItem
              title="Software Developer"
              description="Masivian"
              time="Jul. 2023 - Ago. 2024 · 1 año y 2 meses"
              link={{
                url: "https://www.linkedin.com/company/masivian/mycompany/",
                text: "Masiv",
              }}
            >
              <p>
                Desarrollé soluciones de backend con .NET y AWS, proporcionando
                soporte y resolviendo bugs para un sistema de envío de correos
                masivo, utilizando diversas bases de datos como Redis, MongoDB,
                DynamoDB y Redshift, para asegurar la disponibilidad y
                escalabilidad del sistema.
              </p>
            </TimeLineItem>
            <TimeLineItem
              title="Fullstack Web Developer"
              description="Colombian Teknologies SAS"
              time="Julio. 2021 - nov. 2022 · 1 año 5 meses"
              link={{
                url: "https://www.linkedin.com/in/damet24/overlay/1635462319595/single-media-viewer?type=LINK&profileId=ACoAADZAP8gBXswIkpvwZjFEnad5pqlS2Bo1i6U&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3Bn90ZuD26QB%2BR2p1kwbaJOQ%3D%3D",
                text: "Colombian Teknologies",
              }}
            >
              <p>
                Desarrollé aplicaciones a medida para diversos clientes,
                manejando tanto el desarrollo backend como frontend. Utilicé una
                variedad de tecnologías, incluyendo React, PHP y JavaScript,
                adaptándome a las necesidades específicas de cada proyecto, para
                garantizar una experiencia de usuario óptima y soluciones
                escalables.
              </p>
            </TimeLineItem>
          </TimeLineContainer>
        </TimeLineContainer>

        <TimeLineContainer title="Educacion" icon="  ">
          <TimeLineContainer>
            <TimeLineItem
              title="Web Developer"
              description="Platzi"
              time="Julio 2020 — actualidad"
              >Ruta de Desarrollo Backend</TimeLineItem
            >

            <TimeLineItem
              title="Tecnico Profesional, Corparacion Bolivariana Del Norte, Santa Marta"
              description="Desarrollo de Software y Aplicaciones Móviles"
              time="Enero 2020 — Noviembre 2021"
            />

            <TimeLineItem
              title="Bachiller tecnico, IED Fe Y Alegria"
              description="Bachiller Técnico en Administración de Empresas"
              time="Enero 2012 — Noviembre 2018"
            />
          </TimeLineContainer>
        </TimeLineContainer>

        <TimeLineContainer title="Cursos" icon=" ">
          <TimeLineContainer>
            <TimeLineItem
              title="Curso Profesional de JavaScript"
              description="Richard Kaufman - Platzi"
            />

            <TimeLineItem
              title="Curso de Docker"
              description="Guido Vilariño - Platzi"
            />

            <TimeLineItem
              title="Ultimate Python: de cero a programador experto"
              description="Nicolas Schurmann"
            />
          </TimeLineContainer>
        </TimeLineContainer>
      </CustomSection>
    </main>
  </section>
</Layout>
