---
const { title } = Astro.props;
---

<ol class="mx-4 p-4 relative border-l border-gray-200 dark:border-gray-700">
    {title ? <h1 class="ml-2 text-2xl font-extrabold"><pre>{title}</pre></h1> : null}
    <slot />
</ol>
